html
  head
    title= title
    link(rel="stylesheet", href="/css/styles.css")
  body
    h1 HubSpot Contacts
    
    if data && data.length > 0
      table
        thead
          tr
            th First Name
            th Last Name
            th Email
            th Phone
            th Created Date
        tbody
          each contact in data
            tr
              td= contact.firstname || '-'
              td= contact.lastname || '-'
              td= contact.email || '-'
              td= contact.phone || '-'
              td= contact.createdate ? new Date(contact.createdate).toLocaleString() : '-'
    else
      p No contacts found.
    
    a(href="/" class="back-link") Return to Homepage
